<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>商品一覧</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
  　<div id="app">
    <p>ご注文をお選びください:{{selection}}</p>

    <label>
      <input type="checkbox" v-model="answer" value="ケーキ">ケーキ</label>
    <label>
      <input type="checkbox" v-model="answer" value="紅茶">紅茶</label>
    <label>
      <input type="checkbox" v-model="answer" value="コーヒー">コーヒー</label>
    　
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        answer: []
      },
      computed: {
        selection: function () {
          return this.answer.join();
        }
      }
    });　
  </script>
</body>

</html>