<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>textbox</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <table border="1">
        <tr>
          <th>コード</th>
          <th>入力欄</th>
          <th>レンダリングされる値</th>
        </tr>

        <tr>
          <td><pre>&lt;input type="text" v-on:input="yearInputHandler" v-bind:value="year" /&gt;</pre></td>
          <td>
            <input type="text" v-on:input="yearInputHandler" v-bind:value="year" />            
          </td>
          <td>
            <p>{{year}}</p>            
          </tr>
        </td>

        <tr>
          <td><pre>&lt;input type="text" v-bind:value="year1" /&gt;</pre></td>
          <td>
            <input type="text" v-bind:value="year1" />
          </td>
          <td>
            <p>{{year1}}</p>            
          </td>
        </tr>

        <tr>
          <td><pre>&lt;input type="text" v-model="year2" /&gt;</pre></td>
          <td>
            <input type="text" v-model="year2" />
          </td>
          <td>
            <p>{{year2}}</p>            
          </td>
        </tr>

      </table>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          year: new Date().getFullYear(),
          year1: new Date().getFullYear(),
          year2: new Date().getFullYear(),
        },
        methods: {
          yearInputHandler: function ($event) {
            this.year = $event.target.value;
          },
        },
      });
    </script>
  </body>
</html>
